.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 20px 0;
    overflow: auto;
    width: 70%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.image_con {
    position: relative;
    float: left;
    padding: 20px;
}

.info_con {
    position: relative;
}

.name {
    position: relative;
    margin-bottom: 0px;
}

.position {
    margin-top: 0px;
}

h1 {
    margin: 10px auto;
}

p {
    margin: 10px, auto;
}